# BetterAuth
BETTER_AUTH_SECRET=<generate-a-secret-key> (e.g. D27gijdvth3Ul3DjGcexjcFfgCHc8jWd)
BETTER_AUTH_URL=<url-of-your-server> (e.g. http://localhost:1234)

# Database
POSTGRES_USER=postgres
POSTGRES_DB=database_name

# Full database connection URL
# Format: postgres://USER:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL=postgresql://postgres:your_secure_password_here@localhost:5434/database_name

# App
PORT=3000
NODE_ENV=production
